<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <h1>PCR 검사 가능 병원 목록 다운로드</h1>
    <hr/>

    <form action="hospital/list" method="get">
        <button>다운로드</button>
    </form>
</body>
</html>